.navBar_container{
    padding: 15px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s;
}
.sticky_nav{
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: 0.3s;
    background: white;
}
.navbar-nav{
    align-items: center;
}
.nav_menu a{
    display: inline-block;
    margin: 0 15px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
}
.sticky_nav .nav_menu a{
    color: var(--dark-blue);
}