.all_destinations_banner{
    background: url(../../img/allDestination-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
    position: relative;
}
.all_destinations_banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}