.about_banner{
    background: url(../../img/about-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_banner h2{
    font-size: 28px;
    color: white;
    margin-top: 25px;
}
.aboutUs_section{
    padding: 100px 0;
}
.about_content strong{
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--yellow-color);
    display: inline-block;
}
.about_content h2 {
    font-size: 48px;
    font-weight: 600;
    max-width: 450px;
    color: var(--dark-blue);
}
.about_content p{
    font-size: 18px;
    font-family: var(--paragraph-font);
    line-height: 28px;
    margin-bottom: 20px;
    color: var(--paragraph-color);
}